/*VIC IMPORTANTE PARA VISUALIZAR EL MOBILE DEBE ESTAR EN 480 * 
      842 ES EL QUE MEJOR RESULTADOS ME DIO Y PARA DESKTOP 1440 * 842*/

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

/*estilos del header*/ 
header {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

#listaheader {
    color: rgb(36, 46, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#listaheader a {
    color: #242E52;
}


.imgheader1 {
    display: flex;
    padding: 12% 4%;
    margin: 1% 0%;
    justify-content: flex-start;
}
.hamburguesa {
    display: none;
}

header .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/* empezamos con el main para desktop*/ 

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainarticle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 80vw;
}

.imgmainarticle {
    width: 80%;
    margin: 0% 0% 15% 5%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 50vh;
    margin-bottom: 15%;

}

article h1 {
    display: flex;
    flex-direction: row;
    color: #232C50;
    font-size: 58px;
    width: 96%;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.035em;
    margin: 5%;
}
article p {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    text-align: left;
    margin: 0%;
    font-size: 16.56px;
    color: #000000;
    font-weight: 500;
    width: 95%;
    
    
}
main .boton {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    margin: 5%;
}


/*estilo para todos los botones get started*/
.boton {
    color:#FFFFFF ;
    background-color: rgb(139, 72, 191);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 134px;
    height: 44px;
    border-style: none;
    padding: 10px;

}

.secondarticle {
    display: flex;
    align-items: flex-start;
    width: 88vw;
    
}

.secondarticle section {
    display: flex;
    flex-direction: column;
    width: 43%;
}

.secondarticle h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    width: 80%;
    color: #232851;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
    
}

#psecondarticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 151.1%;
    color: #000000;
    font-weight: 500;
    margin: 5% 11% 30% 11%;
}

.titulos {
    display: flex;
    align-items: center;
    color: #323851;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    margin: 5% 0% 0% 18%;
}

.botontitulo {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    align-items:flex-start;
    padding: 10px 25px;
    background-color: #8B48BF;
    border-radius: 30px;
    border-style: none;
    color: #FFFFFF;
    width: 69px;
    height: 43px;
    font-size: 16px;
    margin-right: 2%;
    
}

.textoarticulos {
    display: flex;
    align-items: center;
    color: #B3B2B7;
    margin: 3% 3% 3% 10%;
    font-size: 16.3px;
    font-weight: 500;
    line-height: 26px;
    width: 34vw;
}

/*empezamos las tarjetas para desktop*/
.thirdarticle {
    display: flex;

}

main h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #242E53;
    font-weight: 700;
    font-size: 39.21px;
    margin: 6% 0%
    
}


.thirdarticle .tarjetas {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 450px;
    height: 250px;

}

.fotoperfiles {
    position: relative;
    bottom: 30px;
}

.nombres {
    display: flex;
    justify-content: center;
    color: #3F4868;
    font-size: 16.07px;
    font-weight: 700;
    margin: 3%;
}

.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #B9B9C1;
    font-size: 16px;
    font-weight: 600;
}

#botonabajo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    bottom: 150px;
    
}

/*empezamos footer*/

#seccion {
    display: flex;
    justify-content: space-between;
    background-color: #8B48BF;
    color: #FFFFFF;
    padding: 20px;
    width: 1440px;
    height: 224px;

}

#seccion h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    align-self: center;
    letter-spacing: -0.005em;
    width: 438px;
    height: 96px;
    margin-left: 9%;
}

.morado {
    color:#8B48BF ;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 134px;
    height: 44px;
    border-style: none;
    padding: 10px;
    margin-right: 10%;
}

footer {
   background-color: #1E1E26;
   width: 1439px;
    height: 247px;
    display: flex;
    justify-content: space-around;
}

#logoblanco {
    width: 145.43px;
    height: 26.18px;
    margin-bottom: 35px;
}

a i {
    color:#FFFFFF;
    letter-spacing: 10px;
    text-align: center;
}

#logoiconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.primernav {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    justify-content: center;
    font-size: 16px;
}

.primernav a {
    color: rgb(255, 255, 255);
}

.segundonav {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    justify-content: center;
    margin-left: 80px;
    font-size: 16px;
}

.segundonav a {
    color: #FFFFFF;
}

footer form {
    display: flex;
    justify-content: center;
    width: 272.81px;
    height: 48.52px;
    margin: 0% 18% 19% 0%;
}
    
form input {
    display: flex;
    align-items: flex-start;
    border-radius: 30px;
    width: 201px;
    height: 44px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #A0A0A0;
    border-style: none;
}

.botonfooter {
    color:#FFFFFF ;
    background-color: #8B48BF;
    border-radius: 50px;
    width: 63px;
    height: 42px;
    border-style: none;
    padding: 10px;
    margin-left: 5px;
}

#ultimaparte {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: #8C8C94;
    font-size: 12.5px;
}


/*empezamos con responsive para movil */

@media (max-width: 480px){

    #listaheader {
        display: none;
    }
    .lista {
        display: none;
    }
    header .boton {
        display: none;
    }
    .hamburguesa {
        display:flex;
        align-items: flex-end;
        padding: 10%;
        margin: 1% 0% 0% 7%;
    }

    .mainarticle{
        flex-direction: column-reverse;
        align-items: center;
        align-self: center;
    }
    
    .imgmainarticle {
        width: 385.24px;
        
    }
    
    article {
        flex-direction: column;
        height: auto;
        width: 439px;
    }
    
    article h1 {
        flex-direction: column;
        font-size: 48px;
        align-self: center;
        align-items: center;
        text-align: center;
        letter-spacing: -0.035em;
        width: 439px;

    }

    article p {
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        text-align: center;
    }

    main .boton {
        flex-direction: column;
        align-self: center;
        margin-top: 5%;
    }

    .secondarticle {
        flex-direction: column;
        width: 433px;
        align-items: center;
    }

    .secondarticle section {
        width: 433px;
    }

    .secondarticle h3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: center;
        width: 433px;
    }
    #psecondarticle {
        justify-content: center;
        align-self: center;
        text-align: center;
        width: 433px;
        margin: 0% 0% 15% 0%;
        position: relative;
        bottom: 50px;
    }

    .titulos {
        flex-direction: row;
        background-color:  rgba(139, 72, 191, 0.3);
        border-radius: 50px 0px 0px 50px;
        margin: 0% 0% 0% 20%;
        width: 100vw;
        
    }
    .titulos h4 {
        margin-left: 5%;
    }

    .botontitulo {
        margin: 0%;
    }

    .textoarticulos {
        align-items: flex-start;
        flex-direction: row;
        text-align: left;
        margin: 9% 0% 9% 5%;
        width: 408px;
    }
    
    #quitar {
        display: none;
    }

    #quitar1 {
        display: none;
    }
    
    .thirdarticle {
        flex-direction: column;
    }

    main h3 {
        margin-bottom: 25%;
    }

    .descripcion {
        width: 390px;
    }

    #botonabajo {
        position: relative;
        bottom: 30px;

    }
    #seccion {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 484px;
        height: 318px;
    }
    
    #seccion h2 {
        width: 324px;
        height: 144px;
        text-align: center;
        margin: 0%;
    }

    .morado {
        position: relative;
        top: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    }

    footer {
        width: 480px;
        height: 535.89px;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    form input {
        width: 308px;
        height: 44px;
    }

    .botonfooter {
        width: 63px;
        height: 42px
    }

    #ultimaparte form {
        width: 380px;
        height: 48.52px;
        justify-content: center;
        align-items: center;
        margin: 10% 0% 0% 3%;
    }

    .primernav {
        width: 172px;
        height: 161.14px;
        position: relative;
        right: 70px;
        bottom: 120px;
    }

    .segundonav {
        width: 172px;
        height: 161.14px;
        position: relative;
        left: 90px;
        top: 20px;
    }

    .iconos {
        width: 480px;
    }

    .iconos a i {
        position: relative;
        margin: 0% 5% 0% 5%;
        bottom: 180px;
        left: 50px;
        
    }

    #logoblanco{
        position: relative;
        bottom: 50px;
    }

    #ultimotexto {
        position: relative;
        top: 380px;
    }

    
    
}

/* empezamos con las pseudoclases */

.boton:hover {
    background-color: rgba(139, 72, 191, 0.7);
    cursor: pointer;
}

#listaheader a:hover {
    color: rgba(36, 46, 82, 0.6);
    cursor: pointer;
}

.morado:hover {
    background-color: rgba(204, 167, 233, 0.7);
    cursor: pointer;
}

.botonfooter:hover {
    background-color: rgba(139, 72, 191, 0.7);
    cursor: pointer;
}
 .primernav a:hover {
    color: rgba(255, 255, 255, 0.658);
 }

 .segundonav a:hover {
    color: rgba(255, 255, 255, 0.658);
 }



